#main-container {
    width: 1100px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}
#main-img {
    width: 1100px;
    height: auto;
}

.main-sections {
    width: 1100px;
    height: auto;
    margin-bottom: 50px;
    transition: all 1s ease-in-out;
}

.main-sections p {
    transition: all 1s ease-in-out;
}

.main-sections:hover h2 {
    color: gold;
    transition: all 1s ease-in-out;
}
.main-sections:hover p {
    font-size: 1.5em;   
    transition: all 1s ease-in-out;
}

.detailed-img-container {
    width: 500px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    text-align: center;
    color: gold;
    transition: all 1s ease-in-out;
}

.detailed-img {
    width: 500px;
    height: auto;
    transition: all 1s ease-in-out;
}

.detailed-img-container:hover, .detailed-img-container:hover .detailed-img {
    width: 1000px;
    transition: all 1s ease-in-out;
    font-size: 1.5em;
}

.detailed-img-container:hover .detailed-img{
    border: 2px solid gold;
}

#img-section {
    width: 1100px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

#video-section {
    width: 1024px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
}

#video {
    width: 1024px;
    height: 576px;
}

#ios-video-section {
    width: 414px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
}
#ios-video {
    width: 414px;
    height: 896px;
}